:root {
    --bckg-main: hsl(268, 75%, 9%);
    --bckg-keypad: hsl(268, 71%, 12%);
    --bckg-screen: hsl(268, 71%, 12%);
    --key-primary: hsl(268, 47%, 21%);
    --key-shadow-primary: hsl(290, 70%, 36%);
    --key-secondary: hsl(281, 89%, 26%);
    --key-shadow-secondary: hsl(285, 91%, 52%);
    --key-tertiary: hsl(176, 100%, 44%);
    --key-shadow-tertiary: hsl(177, 92%, 70%);
    --text-dark: hsl(198, 20%, 13%);
    --text-light: hsl(0, 0%, 100%);
    --text-yellow: hsl(52, 100%, 62%);
}

body {
    color: var(--text-yellow);
}

button {
    color: var(--text-yellow);
}

#equal {
    color: var(--text-dark);
}